@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-black: #0f0f0f;
  --secondary-black: #383838;
  --primary-white: #f8f8f8;
  --primary-blue: #3183fd;
}

:root:has(.prevent-scroll) {
  overflow: hidden;
  scrollbar-gutter: stable;
}

body {
  background-color: rgb(var(--primary-white));
  color: rgb(var(--secondary-black));
  padding: 0 1rem;
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
