@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-black: rgb(15, 15, 15);
  --secondary-black: rgb(56, 56, 56);
  --primary-white: rgb(248, 248, 248);
  --primary-blue: rgb(49, 131, 253);
  --primary-red: rgb(228, 61, 61);
  --primary-green: rgb(182, 216, 127);
}

:root:has(.prevent-scroll) {
  overflow: hidden;
  /* scrollbar-gutter: stable; */
}

body {
  background: #f8f8f8;
  color: #383838;
  padding: 0 1rem;
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .show-scrollbar::-webkit-scrollbar {
    @apply block;
  }

  .custom-scroll::-webkit-scrollbar {
    @apply w-2;
  }

  .custom-scroll:hover::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-zinc-300;
  }

  .blue-scroll::-webkit-scrollbar {
    @apply w-2;
  }

  .blue-scroll::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-[--primary-blue];
  }

  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 28px;
    border: 2px solid transparent;
    background: linear-gradient(
        120deg,
        rgba(219, 255, 240, 0.584),
        #9999992f 100%
      )
      border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

.gradient-border-black::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 28px;
  border: 2px solid transparent;
  background: linear-gradient(45deg, rgba(108, 113, 111, 0.584), #9999992f 100%)
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
